@charset "utf-8";
//==============width==================
$set_w :1200px;        //页面宽度设置
//==============top==================
$top_h :34px;          //顶部宽度设置
$top_clr:#727272;     //顶部文字默认色值
$top_clr_h:#df086c;   //顶部文字高亮色值
//==============line==================
$line_clr :#efeceb;   //分割线色值 
//==============head==================
$head_h:125px;          //头部高度设置
$nav_icon:29px;         //nav内icon宽高
////==============logo==================
$logo_w :170px;
$logo_h :100px;
//==============img sprites==================
$icon_sprites:"../images/icon_sprites.jpg";

//==============banner==================
$banner_h:572px;
//==============parner==================
//==============parner==================
$parner_w:140px;
$parner_h:40px;

@mixin ib {
  display: inline-block;*zoom:1; *display: inline;
}
@mixin cb {
  &{zoom:1;}
  &:after {
    display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";
  }
}

.min_w {min-width:$set_w; width:100%;}
.set_w {width:$set_w; margin:0 auto;}

//头部
.header {
  background-color: #fbfbf5;
  //顶部文字链接
  .top {
    height:$top_h;
    @include cb;
    .r,.l {
      float:right;
      color:$top_clr;
      span,a {
        @include ib;
        padding:0 5px;
        margin: 0 5px;
        height:$top_h;
        line-height: $top_h;
        color:$top_clr;
        &:hover,&.on {color:$top_clr_h}
      }
    }
    .l {float:left;}
  }
  .topline {border-bottom:1px solid $line_clr;}
  //头部logo,nav qrcode
  .head {
    height:$head_h+5px;
    position:relative;
    .nav {
      @include ib;
      vertical-align:middle;
      height:$head_h;
      li {
        @include ib;
        height:$head_h;
        &:hover {border-bottom:5px solid $top_clr_h}
        a{display: block;
          padding:0 22px;}
        i,span{
          @include ib;
          height:$nav_icon;
          line-height:$nav_icon;
        }
        i{
          width:$nav_icon;
          vertical-align: middle;
          background: url($icon_sprites);
          margin-right:5px;
        }
        span {padding:0 5px; height:$head_h; line-height: $head_h}
        i.nav_icon_1 {background-position: 0 0;}
        i.nav_icon_2 {background-position: -50px 0;}
        i.nav_icon_3 {background-position: -100px 0;}
        i.nav_icon_4 {background-position: -150px 0;}
        i.nav_icon_5 {background-position: -200px 0;}
      }
      .marg_r_logo {margin-right:$logo_w+44px;}
    }
    .logo {position: absolute; top:15px; left:500px; width:$logo_w; height:$logo_h;}
    .other-list {
      float:right;
      margin:30px 0 0;
      li {
        @include ib;
        margin: 0 5px;
        height:60px;
        padding:0 5px;
        i {
          display: block;
          width:38px;
          height: 38px;
          background-image: url($icon_sprites);
          margin:0 auto 5px;
        }
        i.o_1 {background-position: 0 -39px}
        i.o_2 {background-position: -57px -39px}
        i.o_3 {background-position: -113px -39px}
      }
    }
  }
}

//banner
.banner {
  width:100%;
  min-width: $set_w;
  height: $banner_h;
  .bd {
    li,a {
      display: block;
      height: 522px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .hd {height:50px;
    text-align: center;
    line-height: 50px;
    li {
      @include ib;
      width:10px;
      height:10px;
      margin:0 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: $top_clr;
      cursor: pointer;
      &.on,&:hover {background: $top_clr_h}
    }
  }
}

.footer {
  margin-top:20px;
  &.line_darkred {border-top:1px solid $top_clr_h;@include cb; height:310px;}
  &.line_lightred {border-top:1px solid #f8dfe4; background:#faf9f8;@include cb; height:60px;}
  .sitemap {
    @include cb;
    padding:25px 0;
    text-align: center;
    dl {
      @include ib;
      vertical-align: top;
      width:20%;
      text-align: left;
    }
    dt {
      font-size:14px;
      color:#333;
      height:30px;
      line-height: 30px;
    }
    dd {
      font-size:12px;
      height:24px;
      line-height: 24px;
      a:link,a:visited {
        color:#999;
      }
      a:hover {color:#727272}
    }
  }

  .parter {
    position: relative;
    overflow: hidden;
    a.slide {
      display: block;
      position: absolute;
      top:50%;
      width:20px;
      height:30px;
      background-image:url($icon_sprites);
      cursor: pointer;
    }
    a.prev {background-position:0 -87px;left:0; }
    a.next {background-position:-55px -87px; right:0;}
    h3 {
      font-size:14px;
      height:32px;
      line-height: 32px;
    }

    .parter_list,.tempWrap {
      @include  cb;
      display: block;
      width:90%;
      height:$parner_h+2px;
      margin:25px auto;
      overflow: hidden;
      li {
        display: block;
        float:left;
        width:$parner_w;
        height:$parner_h;
        margin:0 19px;
        border: 1px solid #ccc5c2;
      }
      a {
        display: block;
        height:$parner_h;
        img {width:100%; height:100%;}
      }
    }
  }

  .foot_info {
    @include cb;
    padding:16px 0;
    .navlist {
      li {
        @include ib;
        vertical-align: middle;
        height:28px;
        line-height: 28px;
        a{
          padding:0 10px;
          display: block;
        }
        a:link,a:visited {
          color:#727272;
        }
        a:hover {color:#999}
      }
    }
    .hotline {
      height:28px;
      line-height: 28px;
      h3{font-size:14px;}
    }
  }
}

